.inp{
    width: 250px;
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
}

section{
    max-width: 500px;
    max-height: 667px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px;
    border-radius: 9px;
    border: solid;
    border-color: grey;
    background-color: rgb(238, 238, 238);
}